extends layout

include mixins/_book
include mixins/_pagination
include mixins/_searchForm
include mixins/_noResults

block content
  .page-header
    h1= title
    +searchForm('books')
  p
    a.button(href="/books/new") Create New Book
  p Filters 
    a(href="/books/all") All 
    | | 
    a(href="/books/filter/overdue") Overdue
    | | 
    a(href="/books/filter/checked") Checked Out

  if books.length > 0
    table
      thead
        tr
          th Title
          th Author
          th Genre
          th Year Released
      tbody
        each book in books
          +book(book)
    if page && pages && count
      +pagination('books', false, undefined, page, pages, count)
  else 
    +noResults(search_query)
  