extends layout

include mixins/_book
include mixins/_pagination
include mixins/_searchForm 

block content
  +searchForm('books')
  h1= title
  p
    a.button(href="/books/new") Create New Book
  p Filters 
    a(href="/books/all") All 
    | | 
    a(href="/books/filter/overdue") Overdue
    | | 
    a(href="/books/filter/checked") Checked Out
  if books.length > 0
    table
      thead
        tr
          th Title
          th Author
          th Genre
          th Year Released
      tbody
        each book in books
          +book(book)
    if page && pages && count
      +pagination('books', false, undefined, page, pages, count)
  else 
    p.no-results 
      | Your search for 
      span.query= search_query 
      |  returned no results.
  