extends layout

include mixins/_patron
include mixins/_pagination

block content
  h1 Patrons
  p
    a.button(href="/patrons/new") Create New Patron
  table
    thead
      tr
        th Name
        th Address
        th Email
        th Library ID
        th Zip
    tbody
      each patron in patrons
        +patron(patron)
  +pagination('patrons', page, pages, count)
