doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      ul
        li
          a(href="/all/books") Books
        li
          a(href="/all/patrons") Patrons
        li
          a(href="/all/loans") Loans
    block content
